@import "tailwindcss";
@import './fonts/roboto/stylesheet.css';
@import './fonts/bebas-neue/stylesheet.css';

:root {
  --accent-color: #FF6F61;

  --primary-text-color: #000000;
  --secondary-text-color: #888888;
  /* ... */
}

body {
  padding: 0;
  margin: 0;
}
